//VARIABLES A USAR


// COLORES
$color-principal: #b20405;
$color-secundario: #940101;
$color-texto: antiquewhite;
$color-bordes: #ffffff;
$color-negro: #000000;

// FUENTES
$fuente-titulos: 'Francois One', sans-serif;
$fuente-texto: 'Tuffy', sans-serif;
